<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CaC FrontEnd 2024</title>
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>

  <body>
    <main>
      <hr />
      <section class="conteiner">
        <h3>Las tendencias de hoy</h3>
        <div class="div_movies">
          <img
            class="movies"
            src="/public/img/peli_1.jpg"
            alt="The Beekeeper"
          />

          <img
            class="movies"
            src="/public/img/peli_2.jpg"
            alt="Badland Hunters"
          />

          <img class="movies" src="/public/img/peli_3.jpg" alt="The marvels" />

          <img class="movies" src="/public/img/peli_4.jpg" alt="Wonka" />

          <img
            class="movies"
            src="/public/img/peli_5.jpg"
            alt="Aquaman and the lost kingdom"
          />

          <img class="movies" src="/public/img/peli_6.jpg" alt="Migration" />

          <img class="movies" src="/public/img/peli_7.jpg" alt="60 minutes" />

          <img class="movies" src="/public/img/peli_8.jpg" alt="Wish" />

          <img
            class="movies"
            src="/public/img/peli_9.jpg"
            alt="The masked saint"
          />

          <img class="movies" src="/public/img/peli_10.jpg" alt="Due Justice" />

          <img
            class="movies"
            src="/public/img/peli_11.jpg"
            alt="Orion and the dark"
          />

          <img class="movies" src="/public/img/peli_12.jpg" alt="Peli 12" />

          <img class="movies" src="/public/img/peli_13.jpg" alt="Lift" />

          <img class="movies" src="/public/img/peli_14.jpg" alt="Attack" />

          <img
            class="movies"
            src="/public/img/peli_15.jpg"
            alt="Mutant ghost wargirl"
          />

          <img class="movies" src="/public/img/peli_16.jpg" alt="Poor things" />

          <img class="movies" src="/public/img/peli_17.jpg" alt="The five" />

          <img
            class="movies"
            src="/public/img/peli_18.jpg"
            alt="Trunk locked in"
          />

          <img
            class="movies"
            src="/public/img/peli_19.jpg"
            alt="Anyone but you"
          />

          <img
            class="movies"
            src="/public/img/peli_20.jpg"
            alt="The super mario bros"
          />
        </div>
        <div class="div_button">
          <button class="buttons" name="previous">Anterior</button>
          <button class="buttons" name="next">Siguiente</button>
        </div>
      </section>
      <hr />
    </main>
  </body>
</html>
