<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CAC | MOVIES</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="shortcut icon" href="../public/img/movie-clapper-open_83519.png" type="image/x-icon">
</head>

<body>
    <header>
        <nav>
            <a href="#" class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M14 5v14h-4V5zm6-2h-2v2h-2V3H8v2H6V3H4v18h2v-2h2v2h8v-2h2v2h2zm-4 6V7h2v2zM6 9V7h2v2zm10 4v-2h2v2zM6 13v-2h2v2zm10 4v-2h2v2zM6 17v-2h2v2z" />
                </svg>
                <span>CAC-Movies</span>
            </a>
            <ul>
                <li><a href="./admin.html">Admin</a></li>
                <li><a href="../API.html">API</a></li>
                <li><a href="../index.html">Inicio</a></li>


            </ul>
        </nav>
    </header>

    <main class="main-index" id="subir">
        <div class="flex">

            <div class="update-container">
                <h1 class="titulo-update">Modificar Pelicula</h1>
                <div class="flex2">
                    <div class="m-r">
                        <label for="titulo">Titulo</label>
                        <br>
                        <input type="text" id="titulo" name="titulo">
                    </div>
                    <div class="m-r">
                        <label for="fecha">Fecha</label>
                        <br>
                        <input type="date" id="fecha" name="fechaLanzamiento">
                    </div>
                    <div class="m-r">
                        <label for="genero">Género</label>
                        <br>
                        <input type="text" id="genero" name="genero">
                    </div>
                    <div>
                        <label for="duracion">Duración</label>
                        <br>
                        <input type="number" id="duracion" name="duracion">
                    </div>
                </div>
                <br>
                <div class="flex2">
                    <div class="m-r">
                        <label for="director">Director</label>
                        <br>
                        <input type="text" id="director" name="director">
                    </div>
                    <div>
                        <label for="reparto">Reparto</label>
                        <br>
                        <input type="text" id="reparto" name="reparto">
                    </div>
                </div>
                <br>
                <div>
                    <label for="sinapsis">Sinapsis</label>
                    <br>
                    <textarea name="" id="sinapsis" name="sinapsis"></textarea>
                </div>
                <br>
                <div>
                    <label for="img">Imágen</label>
                    <br>
                    <input type="file" id="img" name="imagen">
                </div>
                <input type="button" class="update-movie" value="Modificar Pelicula">
            </div>

        </div>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-section links">
                <ul>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Ayuda</a></li>
                    <li>
                        <a href="#"><span class="admin-peliculas">Administrador Peliculas</span></a>
                    </li>
                </ul>
            </div>
            <a href="#subir"><img class="flechaArriba" src="../public/img/flecha-hacia-arriba.png"
                    alt="flechaArriba" /></a>
        </div>
    </footer>
</body>

</html>